.blockBody {
    max-height: 400px;
    height: auto;
    overflow-y: auto;
}

.name {
    overflow: hidden;
}

.name :global a {
    text-decoration: none;
}

.name :global a:hover {
    text-decoration: underline;
}

.name :global span {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}