.container {
    background: rgba(255, 255, 255, 255);
    width: 250px;
    height: 250px;
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    border-color: var(--bs-border-color);
    top: calc(50% - var(--topbar-height));
    left: 50%;
    transform: translate(-50%, -50%);
}

.loadingLogo {
    max-width: 100%;
    /* animation-name: loadingLogoScaling;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out; */
    max-width: 100%;
    aspect-ratio: 1;
    transform: scale(0.8);
}

.border {
    border-width: 5px;
    border-style: solid;
    border-color: rgb(44, 119, 230);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: 50% 50%;
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 50%, 0 0);
    position: absolute;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: borderSpinning;
}

@media (max-width: 720px) {
    .container {
        top: calc(50% - var(--topbar-height));
    }
}

@keyframes borderSpinning {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadingLogoScaling {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1.1);
    }
}