.pageButton:not(:hover):not(:focus):not(:is(.active)) {
    background: white !important;
    color: var(--font-color) !important;
    border-color: rgba(var(--bs-primary-rgb), 0.25);
}
.pageButton.active {
    background: var(--bs-primary) !important;
    color: white !important;
    border-color: var(--bs-primary);
}